<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<parameter name="password" value="kamal34"></parameter>
  <test thread-count="1" name="gmail">
  <parameter name="username" value="kamal34@gmail.com"></parameter>
    <classes>
      <class name="org.sample.Newparameters">
      </class>
    </classes>
  </test> <!-- Test -->
<test thread-count="1" name="gmaila">
  <parameter name="username" value="thineshkamal34@gmail.com"></parameter>
    <classes>
      <class name="org.sample.Newparameters">
      </class>
    </classes>
  </test> <!-- Test -->
 <test thread-count="1" name="gmai lb">
  <parameter name="username" value="34@gmail.com"></parameter>
    <classes>
      <class name="org.sample.Newparameters">
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
